nav{
  background-color: #222222;
  height: 4em;
  line-height: 4em;
  text-align: center;
}
nav a, nav button{
  color: #fff;
  font-family: 'Montserrat';
  font-size: 1.5em;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  width: 25%;
}
nav button{
  background-color: #222222;
  border: none;
}
nav a:visited{
  color:#fff;
}
nav a:hover, nav button:hover{
  background-color: #fff;
  color: #222;
  transition: ease-in 350ms;
}