nav{
  background-color: rgb(242, 113, 0);
  height: 4em;
  line-height: 4em;
  text-align: center;
}
nav a, nav button{
  color: #222;
  font-family: 'Major Mono Display', monospace;
  font-size: 1.5em;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  width: 25%;
}
nav button{
  background-color: rgb(242, 113, 0);
  border: none;
}
nav a:visited{
  color:#222;
}
nav a:hover, nav button:hover{
  background-color: #cc5500;
  color: #fff;
  transition: ease-in 350ms;
}