nav{
  background-color: #222222;
  height: 4em;
  line-height: 4em;
  text-align: center;
}
nav a{
  color: #fff;
  font-size: 1.5em;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  width: 25%;
}
nav a:hover{
  background-color: #ffffff;
  color: #222222;
  transition: ease-in 350ms;
}