.posts{
  width: 70%;
  order: 0;
}
.featured{
  width: 25%;
  order: 1;
}
@media only screen and (max-width: 500px){
  .posts{
    width: 100%;
    order: 1;
  }
  .featured{
    width: 100%;
    order: 0;
  }

}
article{
  background-color: #222;
  border-radius: 1em;
}

.post{
  padding: 1em;
  border-radius: 1em;
}
.posts .post:nth-child(even){
background-color: #222;
}
