/* section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 75%;
  margin: auto;
}
pre{
  background-color: #d3d2d2;
  padding: 2em;
  width: 50%;
  margin: auto;
  text-align: left;
}
code{
  font-family: monospace;
}
.left{
  width: 70%;
  height: 100%;
  border: 1px solid black;
}
.right{
  width: 25%;
}
.r-top{
  height: 35vh;
  line-height: 35vh;
  border: 1px solid red;
  margin-bottom: 3em;
}
.r-bottom{
  height: 35vh;
  line-height: 35vh;
  border: 1px solid green;
} */
