.comment-section{
  background-color: #222;
  border-radius: 1em;
  width: 80%;
  margin: auto;
  padding: 1em;
}
.comment-section textarea{
  width: 100%;
  border-radius: .5em;
}

.comment-form button{
  padding: .5em 2em;
  border: none;
  border-radius: .5em;
  background-color: #111111;
  color: #fff;
  margin: .5em;
}
.comment-form button:hover{
  background-color: #ff6600;
  color: #222222;
}

.comment{
  background-color: #111;
  display: flex;
  border-radius: 1em;
  width: 75%;
  margin: 1em auto;
}
.profile{
  width: 50px;
  height: 50px;
  margin: 1em;
  border-radius: .5em;
}
.comment p{
  display: inline-block;
}