body {
  background-color: #111;
  color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}
main{
  height: 80%;
  width: 90%;
  margin: auto;
}
h1, h2,h3,h4,h5,h6{
  font-family: 'Montserrat';
  color: #ff6600;
}
h5{
  color: #fff;
}
code{
  font-family: 'Roboto Mono', monospace;
}
pre{
  background-color: #444444;
  padding: 1em;
  border-radius: .5em;
  width: 75%;
  margin: auto;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: #ff6600;
  transition: ease-in 250ms;
}
a:visited{
  color: #ff6600;
}

.flex{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}