body {
  background-color: #222;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}
main{
  width: 90%;
  margin: auto;
}
h1, h2,h3,h4,h5,h6{
  font-family: 'Major Mono Display', monospace;
}
code{
  font-family: 'Roboto Mono', monospace;
}
pre{
  background-color: #444444;
  padding: 1em;
  border-radius: .5em;
  width: 75%;
  margin: auto;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: #ff6600;
  transition: ease-in 250ms;
}
a:visited{
  color: #ff6600;
}